@keyframes fly {
  0% {
    transform: translateY(0) rotateX(0);
  }

  100% {
    transform: translateY(-5px) rotate3d(3, 3, 1, 30deg);
  }
}

.container {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-template-rows: 50px 450px 1fr;

  nav {
    position: sticky;
    top: 0;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    img {
      animation: fly 1s infinite alternate ease-in-out;
      width: 36px;
    }

    div {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      span {
        margin: 1em;
        background: rgba(220, 220, 220);
        padding: 0.5em 1.5em;
        border-radius: 1em;
      }
    }
  }

  figure {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
    background: url("../../../assets/header.png");
    background-size: cover;
    margin: 0;

    h2 {
      font-size: 48px;
      color: white;
      position: relative;
      top: 60%;
      right: 35%;
    }
  }
}
