.container {
  button {
    background: white;
    border-radius: 20px;
    padding: 5px 10px;
    border: 1px solid grey;
  }

  table {
    top: 50px;
    right: 10px;
    background: white;
    font-size: 14px;
    width: 320px;
    position: absolute;
    border: 1px solid black;
  }

  .no-redeems {
    top: 50px;
    right: 10px;
    background: white;
    font-size: 14px;
    width: 320px;
    position: absolute;
    border: 1px solid black;
    padding: 0 1em;
  }
}
