.container_available {
  background: lightblue;

  h3 {
    position: relative;
    left: 230px;
    background: rgb(230, 230, 230);
    max-width: 100px;
    border-radius: 50px;
  }

  .redeem {
    display: none;
    position: relative;
    top: -92%;
    left: -10%;
    background: rgba(0, 0, 250, 0.4);
    justify-content: center;
    align-items: center;
    border: none;

    button {
      width: 50%;
      height: 50px;
      font-size: 1.2em;
      background: blue;
      border-radius: 50px;
      border: none;
      color: white;
      cursor: pointer;
    }
  }
}

.container_available:hover {
  .redeem {
    display: flex;
  }
}

.container_unavailable {
  background: rgb(230, 230, 230);
}
